.neumorphism-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .drop-shadow {
    width: 200px;
    height: 200px;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  }

  .inner-shadow {
    width: 200px;
    height: 200px;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: inset 24px 24px 47px #bebebe, inset -24px -24px 47px #ffffff;
  }
}
